<form action="/products" method="post">
    <label>Product Name</label>
    <input name="name">
    <label>Quantity</label>
    <input name="last_name">
    <button>Send</button>
</form>

<%- include('./partials/history', {products:products})  %> 